@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,900;1,200&display=swap");
/*!-----------RESET------------*/
* {
  margin: 0%;
  padding: 0%; }

body {
  font-family: 'Titillium Web', sans-serif; }

/*!--------BOOTSTRAP--------*/
.container-fluid a img {
  width: 75px;
  height: 75px; }

.navbar-nav .nav-link:hover {
  color: #EFCA08 !important; }

.juegos div .card:hover {
  transform: scale(1.1); }

/*!-----------MAIN------------*/
/*!----------INDEX------------*/
section h2 {
  color: #EFCA08;
  text-align: center;
  font-size: 50px;
  background-color: #000000;
  padding: 0.5rem;
  margin: 0%; }

section .grid-lista {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 15px; }
  section .grid-lista div {
    position: relative; }
    section .grid-lista div img {
      width: 100%;
      height: 100%;
      box-shadow: 10px 10px 7px -5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 7px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 7px -5px rgba(0, 0, 0, 0.75); }
    section .grid-lista div h3 {
      position: absolute;
      bottom: 0%;
      background-color: rgba(0, 0, 0, 0.76);
      color: #dfd7d7;
      width: 100%;
      padding: 5px;
      margin: 0%; }

.noticias {
  background-color: #EFCA08;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%; }
  .noticias h2 {
    color: white;
    font-size: 40px;
    background-color: #030303;
    padding: 0.5rem;
    margin: 0%; }
  .noticias div img {
    padding: 10px;
    width: 400px;
    height: 200px;
    object-fit: contain; }
  .noticias div p {
    color: black;
    font-size: larger;
    font-style: oblique; }

/*!----------TUTORIALES--------*/
.tutoriales h3 {
  font-size: 40px;
  background-color: #030303;
  color: #dfd7d7;
  padding: 10px;
  margin: 0%; }

.tutoriales div {
  background-color: #f8d007;
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: #030303 solid 6px;
  padding: 5px;
  flex-wrap: wrap; }
  .tutoriales div p {
    font-size: x-large;
    padding: 20px; }
  .tutoriales div iframe {
    width: 400px;
    height: 200px;
    border: #030303 solid 6px; }

/*!---------JUEGOS------*/
.juegos h3 {
  font-size: 40px;
  background-color: #030303;
  color: #dfd7d7;
  margin: 0%;
  padding: 0.5rem; }

.juegos div {
  padding: 10px;
  background-color: #EFCA08;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  transition: 0.5s; }
  .juegos div .card {
    background-color: #000000;
    width: 370px;
    height: auto; }
    .juegos div .card img {
      height: 440px; }
    .juegos div .card div {
      background-color: #DCEDFF; }
      .juegos div .card div h5 {
        font-size: xx-large;
        text-decoration: underline black; }
      .juegos div .card div p {
        color: #000000;
        font-size: large; }
      .juegos div .card div .card-text {
        color: #090909; }

/*!--------REGISTRO------*/
section .formulario {
  background-image: url("/img/Formularioinvertido.png");
  background-size: cover;
  background-repeat: no-repeat; }
  section .formulario form {
    text-align: center; }
    section .formulario form div h3 {
      font-size: 60px;
      padding: 10px;
      text-decoration: underline;
      color: #392201;
      font-family: fantasy; }
    section .formulario form div label {
      padding: 10px;
      font-size: 40px;
      color: #ffffff; }
    section .formulario form div #nombre {
      border: solid 4px #251501;
      margin-left: 183px; }
    section .formulario form div #apellido {
      border: solid 4px #251501;
      margin-left: 187px; }
    section .formulario form div #correo {
      border: solid 4px #251501;
      margin-left: 210px; }
    section .formulario form div #masculino {
      margin-left: 100px; }
    section .formulario form div #femenino {
      margin-left: 102px; }
    section .formulario form div #otros {
      margin-left: 138px; }
    section .formulario form div #usuario {
      border: solid 4px #251501;
      margin-left: 192px; }
    section .formulario form div #contraseña {
      border: solid 4px #251501;
      margin-left: 130px; }
    section .formulario form div #repita {
      border: solid 4px #251501;
      margin-left: 16px; }
    section .formulario form div textarea {
      border: solid 2px #251501; }
    section .formulario form div a {
      color: #dfd7d7;
      font-size: 30px;
      margin-left: 550px; }
    section .formulario form .enviar {
      font-size: 20px; }

/*!----------PROGRAMAS--------*/
.programas h3 {
  font-size: 40px;
  background-color: #030303;
  color: #dfd7d7;
  margin: 0%;
  padding: 0.5rem; }

.utiles h3 {
  font-size: 40px;
  background-color: #030303;
  color: #dfd7d7;
  margin: 0%;
  padding: 0.5rem; }

.utiles .software {
  padding: 20px;
  margin: 0%;
  background-color: #EFCA08;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  gap: 15px; }
  .utiles .software div img {
    align-items: center;
    margin-left: 10px;
    width: 400px;
    height: 250px; }
  .utiles .software div h4 {
    font-size: 50px;
    margin-left: 10px; }
  .utiles .software div p {
    font-size: 30px;
    margin-left: 10px; }

/*!-----------FOOTER------------*/
footer {
  background-color: #087F8C;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px; }
  footer .gremiof {
    color: #303030;
    text-decoration: wavy;
    margin-left: 10px;
    padding: 30px; }
  footer .contactosf {
    color: #303030;
    margin-right: 30px;
    text-align: end; }
  footer .redes div {
    display: flex;
    justify-content: end; }
    footer .redes div img {
      height: 50px;
      padding: 8px; }

/*!-----MEDIA QUERY------*/
/*!-------- INDEX---------*/
@media screen and (max-width: 900px) {
  section .grid-lista {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px; } }

@media screen and (max-width: 800px) {
  .noticias {
    flex-direction: column; } }

@media screen and (max-width: 450px) {
  section .grid-lista {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 620px) {
  footer .gremiof {
    text-align: start;
    margin: 0%; } }

@media screen and (max-width: 590px) {
  footer .gremiof {
    padding: 25px;
    font-size: 23px;
    margin-left: 2px; } }

@media screen and (max-width: 520px) {
  footer .gremiof {
    margin: 0%;
    text-align: left; } }

/*!------- REGISTRO --------*/
@media screen and (max-width: 675px) {
  section .formulario form div a {
    margin-left: 0px; } }

@media screen and (max-width: 513px) {
  section .formulario form div h3 {
    padding: 2px;
    font-size: 40px; }
  section .formulario form div label {
    padding: 7px;
    font-size: 25px; }
  section .formulario form div #nombre {
    margin-left: 75px; }
  section .formulario form div #apellido {
    margin-left: 75px; }
  section .formulario form div #correo {
    margin-left: 93px; }
  section .formulario form div #usuario {
    margin-left: 109px; }
  section .formulario form div #contraseña {
    margin-left: 71px; }
  section .formulario form div #repita {
    margin-left: 0px; } }

/*-------PROGRAMAS------*/
@media screen and (max-width: 1318px) {
  .utiles .software {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 858px) {
  .utiles .software {
    grid-template-columns: repeat(1, 1fr); } }
